<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>My job info list</title>
</head>
<body>
    
  <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active ">
              <a class="nav-link text-warning" href="http://127.0.0.1:8000/job/login">Login <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-warning" href="http://127.0.0.1:8000/job/list">Job list <span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </nav>
</div>
<div class="jumbotron">
  <h1>
    Loggin for read job list!
</h1>
<p> please fill your ID and password for work.go.kr!</p>

</div>
  <div style="width: 30%; margin-left: 20%;">
      <!-- app_name = job_list 로 등록 해놓았으므로 아래의 url 사용이 가능해짐.-->
      <form action="{% url 'job_list:list' %}" method="POST">
        {%csrf_token%}
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text bg-blue">ID</span>
          </div>
          <input type="text" class="form-control " name="id" id="id" >
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text bg-blue">password</span>
          </div>
          <input type="password" class="form-control" name="pw" id="pw">
        </div>
        <input type="submit" class="btn btn-primary" value="제출">
    </form>
    <!--<button type="button" onclick="send_data()">제출</button>-->
    
  </div>
  
    
</body>
</html>

<script>

var btn = document.getElementById('btn'); 
var id = document.getElementById('id');       // 아이디
var pw = document.getElementById('pw');       // 비밀번호

function send_data()
{
  if (document.getElementById('id').value == '' | document.getElementById('pw').value == '' ) // ID 항목이 공백일경우
  {
    alert('아이디와 password를 채우세요');      // 경고메세지 출력
    document.getElementById('id').focus();    // 텍스트 페이지로 포커싱하여 텍스트 입력이 가능하도록 
    return false;                             //  함수 종료
  }
  else 
  {
    $.ajax({  
    type: "POST",
    url:'http://127.0.0.1:8000/job/get/',      //board의 save에 해당하는 함수를 실행시킴으로 써 PC에 사진데이터를 저장
    data: {'id':id.value,'pw':pw.value, }      
  }).done(function(msg){ 
    console.log(msg); 
  });
  }
}

</script>