<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Map test</title>
</head>
<body>
    <div class="container">
        <div class='row'>
            <div class='col'>
                <h2> 지리산 경로 정보</h2>
                <ul>
                    <li> 지리산 위치 : {{}}</li>
                </ul>
            </div>
            <div class='col'>
                {{mountain_map|safe}}
            </div>
        </div>
    </div>
</body>
</html>