<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="w3-animate-zoom w3-pale-green"> 
           <h1> back ground  </h1>
           <h3> color : greeeeeeeeeeeeeeeny</h3>
    </div>
    <div class="w3-animate-zoom w3-pale-red"> 
        <h1> back ground  </h1>
        <h3> color : greeeeeeeeeeeeeeeny</h3>
    </div>
    <div class="w3-animate-zoom w3-hover-red"> 
        <h1> back ground  </h1>
        <h3> color : greeeeeeeeeeeeeeeny</h3>
    </div>
    <div class="w3-animate-zoom w3-blue-gray"> 
        <h1> back ground  </h1>
        <h3> color : greeeeeeeeeeeeeeeny</h3>
    </div>

</body>
</html>